
.wa
{
	color:orange;
}
.po
{
	position: absolute;
	top:270px;
	left:50px;	
}

.id
{
	position: absolute;
	top:230px;
	left:30px;
	font-size: 20px;
	color:blue;
}

.f
{
	text-align: justify;
	width: 500px;
	height: 140px;
	margin: auto;
	border: 3px solid black;
}
.dad
{
	text-align: justify;
	width: 500px;
	height: 190px;
	margin: auto;
	border: 3px solid black;
}
.ide
{
	position: absolute;
	top:230px;
	left:230px;
	font-size: 20px;
	color:blue;
}
.poi
{
	position: absolute;
	top:270px;
	left:230px;
}
.de
{
	text-align: justify;
	width: 500px;
	height: 190px;
	margin: auto;
	border: 3px solid black;
}
.quii
{
	text-align: justify;
	width: 800px;
	height: 250px;
	margin: auto;
	border: 3px solid black;
}
.tou
{
	text-align: justify;
	width: 300px;
	height: 140px;
	margin: auto;
	border: 3px solid black;
}
.tom
{
	text-align: justify;
	width: 500px;
	height: 170px;
	margin: auto;
	border: 3px solid black;
}

.ts
{
	text-align: justify;
	width: 500px;
	height: 130px;
	margin: auto;
	border: 3px solid black;
}

.tt
{
	text-align: justify;
	width: 200px;
	height: 80px;
	margin: auto;
	border: 3px solid black;
}
.uuv
{
	text-align: justify;
	width: 250px;
	height: 90px;
	margin: auto;
	border: 3px solid black;
}
.kkka
{
	text-align: justify;
	width: 200px;
	height: 60px;
	margin: auto;
	border: 3px solid black;
}
.xy
{
	text-align: justify;
	width: 350px;
	height: 150px;
	margin: auto;
	border: 3px solid black;
}

.qqq
{
	text-align: justify;
	width: 350px;
	height: 100px;
	margin: auto;
	border: 3px solid black;
}


.wwa
{
	text-align: justify;
	width: 250px;
	height: 130px;
	margin: auto;
	border: 5px solid black;
}
.toma
{
	text-align: justify;
	width: 500px;
	height: 95px;
	margin: auto;
	border: 3px solid black;
}
.ta
{
	text-align: justify;
	width: 450px;
	height: 100px;
	margin: auto;
	border: 3px solid black;
}
.sucer
{
	text-align: justify;
	width: 500px;
	height: 115px;
	margin: auto;
	border: 3px solid black;
}
.se
{
	text-align: justify;
	width: 500px;
	height: 80px;
	margin: auto;
	border: 3px solid black;
}
.bb
{
	text-align: justify;
	width: 300px;
	height: 130px;
	margin: auto;
	border: 3px solid black;
}
.sst
{
	text-align: justify;
	width: 520px;
	height: 190px;
	margin: auto;
	border: 3px solid black;
}

.ccvv
{
	text-align: justify;
	width: 620px;
	height: 210px;
	margin: auto;
	border: 3px solid black;
}

.ll
{
	text-align: justify;
	width: 300px;
	height: 130px;
	margin: auto;
	border: 3px solid black;
}
.dd
{
	text-align: justify;
	width: 360px;
	height: 75px;
	margin: auto;
	border: 3px solid black;
}

.ffff
{
	position: absolute;
	top:100px;
	left:30px;
	font-size: 20px;
	color:blue;
}

.gggg
{

	position: absolute;
	top:150px;
	left:30px;
}

.ssss
{
	position: absolute;
	top:100px;
	left:260px;
	font-size: 20px;
	color:blue;
}
.tttt
{

	position: absolute;
	top:170px;
	left:270px;
}	

.wwww
{
	position: absolute;
	top:100px;
	left:480px;
	font-size: 20px;
	color:blue;
}
.xxxx
{

	position: absolute;
	top:150px;
	left:470px;
}

.bbbb
{
	position: absolute;
	top:100px;
	left:670px;
	font-size: 20px;
	color:blue;
}

.cccc
{

	position: absolute;
	top:150px;
	left:660px;
}

.dddd
{
	position: absolute;
	top:100px;
	left:540px;
	font-size: 20px;
}

.eeee
{

	position: absolute;
	top:150px;
	left:520px;
}

.hhhh
{
	position: absolute;
	top:100px;
	left:880px;
	font-size: 20px;
	color:blue;
}

.iiii
{

	position: absolute;
	top:150px;
	left:860px;
}

.azote
{
	position: absolute;
	top:150px;
	left:1080px;
	font-size: 20px;
}

.hydro
{
	position: absolute;
	top:100px;
	left:1080px;
	font-size: 20px;
	color:blue;
}


.fuck
{
	text-align: justify;
	width: 300px;
	height: 50px;
	margin: auto;
	border: 1px solid black;
}

.fucka
{
	text-align: justify;
	width: 130px;
	height: 80px;
	border: 1px solid black;
}

.fucker
{
	text-align: justify;
	width: 140px;
	height: 95px;
	border: 1px solid black;
}

.fuckis
{
	text-align: justify;
	width: 320px;
	height: 40px;
	border: 1px solid black;
	margin-top: -70px;
	margin-left: 220px;
}
.ii
{
	text-align: justify;
	width: 400px;
	height: 215px;
	margin: auto;
	border: 1px solid black;
}
.mm
{
	text-align: justify;
	width: 230px;
	height: 80px;
	margin: 0 auto;
	border: 1px solid black;
}

.muser
{
	position: absolute;
	top:600px;
	left:900px;	
}

.musera
{
	position: absolute;
	top:600px;
	left:50px;	
}

.nn
{
	text-align: justify;
	width: 350px;
	height: 80px;
	margin: 0 auto;
	border: 1px solid black;
}
.ll
{
	text-align: justify;
	width: 500px;
	height: 235px;
	margin: auto;
	border: 1px solid black;
}
.jj
{
	text-align: justify;
	width: 500px;
	height: 80px;
	margin: auto;
	border: 1px solid black;
}
.volta
{
	position: absolute;
	top:315px;
	left:10px;	
}

.volley
{
	position: absolute;
	top:345px;
	left:10px;	
}

.pano
{
	position: absolute;
	top:645px;
	left:10px;	
}

.e1
{
	text-align: justify;
	width: 450px;
	height: 100px;
	margin: auto;
	border: 1px solid black;
}

.e2
{
	text-align: justify;
	width: 450px;
	height: 60px;
	margin: auto;
	border: 1px solid black;
}
.ssu
{
	text-align: justify;
	width: 450px;
	height: 80px;
	margin: auto;
	border: 1px solid black;
}

.fuckb
{
	text-align: justify;
	width: 120px;
	height: 80px;
	border: 1px solid black;
	margin-top: -145px;
	margin-left: 800px;
}

.iff
{
	position: absolute;
	top:65px;
	left:220px;
	font-size: 20px;
}

.ifa
{
	text-align: justify;
	width: 400px;
	height: 175px;
	margin: auto;
	border: 1px solid black;
}

.ikkk
{
	position: absolute;
	top:215px;
	left:220px;
}
.fucke
{
	text-align: justify;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	margin-top: 240px;
	margin-left: 0px;
}
.ee
{
	text-align: justify;
	width: 550px;
	height: 210px;
	border: 1px solid black;
	margin: auto;
}

.iki
{
	position: absolute;
	top:310px;
	left:200px;
	font-size:20px;
	color: red;
}

.wwl
{
	position: absolute;
	top:65px;
	left:700px;
	font-size: 20px;
}

.poop
{
	position: absolute;
	top:65px;
	left:1000px;
	font-size: 20px;
}

.ipper
{
	position: absolute;
	top:400px;
	left:500px;
	font-size: 20px;
}

.non
{
	position: absolute;
	top:440px;
	left:490px;	
}
.quu
{
	position: absolute;
	top:100px;
	left:700px;	
}

.oui
{
	position: absolute;
	top:100px;
	left:960px;	
}
.fuckiy
{
	text-align: justify;
	width: 300px;
	height: 50px;
	border: 1px solid black;
	margin-top: -140px;
	margin-left: 640px;
}

.eup
{
	text-align: justify;
	width: 150px;
	height: 100px;
	border: 1px solid black;
	margin-top: -40px;
	margin-left: 980px;
}

.museur
{
	position: absolute;
	top:700px;
	left:900px;	
}
.ix
{
	text-align: justify;
	width: 150px;
	height: 60px;
	border: 1px solid black;
	margin-top: 260px;
	margin-left: 500px;
}

.fucki
{
	text-align: justify;
	width: 450px;
	height: 295px;
	margin: auto;
	border: 1px solid black;
}
.kh7
{
	position: absolute;
	top:730px;
	left:600px;	
}
.ikar
{
	position: absolute;
	top:310px;
	left:570px;
	font-size: 20px;
	color:red;
}

.ikoi
{
	position: absolute;
	top:380px;
	left:550px;	
}
.ikou
{
	position: absolute;
	top:450px;
	left:260px;	
}
.idee
{
	position: absolute;
	top:230px;
	left:360px;
	font-size: 20px;
	color:blue;
}
.bbb
{
	position: absolute;
	top:65px;
	left:290px;
	font-size: 20px;
}
.bab
{
	position: absolute;
	top:130px;
	left:310px;	
}

.ccc
{
	position: absolute;
	top:65px;
	left:540px;
	font-size: 20px;
}

.cca
{
	position: absolute;
	top:130px;
	left:520px;	
}

.ddd
{
	position: absolute;
	top:65px;
	left:830px;
	font-size: 20px;
}

.dda
{
	position: absolute;
	top:130px;
	left:810px;	
}

.ikea
{
	position: absolute;
	top:85px;
	left:20px;
	font-size: 20px;
}

.ikk
{
	position: absolute;
	top:130px;
	left:10px;	
}

.pois
{
	position: absolute;
	top:270px;
	left:360px;
}

.poise
{
	position: absolute;
	top:230px;
	left:500px;
	font-size: 20px;
	color:blue;
}

.idde
{
	position: absolute;
	top:270px;
	left:500px;
}
.iv
{
	position: absolute;
	top:529px;
	left:700px;	
	font-size:20px;
}

.ivv
{
	position: absolute;
	top:579px;
	left:700px;
}

.math
{
	position: absolute;
	top:299px;
	left:500px;	
	font-size:20px;
	color:green;
}

.mathu
{
		color:green;
		position: absolute;
		top:309px;
		left:10px;
}

.fifas
{
	position: absolute;
	top:335px;
	left:10px;
}

.fuckll
{
	text-align: justify;
	width: 200px;
	height: 60px;
	border: 1px solid black;
	margin-top: 260px;
	margin-left: 10px;
}
.mathi
{
	position: absolute;
	top:309px;
	left:800px;	
	font-size:20px;
}

.ivet
{
	position: absolute;
	top:379px;
	left:800px;	
}
.fun
{
	position: absolute;
	top:230px;
	left:620px;
	color:blue;
}

.ive
{
	position: absolute;
	top:350px;
	left:500px;	
}

.fan
{
	position: absolute;
	top:270px;
	left:610px;
	font-size: 20px;
}

.fus
{
	text-align: justify;
	width: 150px;
	height: 50px;
	border: 1px solid black;
}

.tut
{
	position: absolute;
	top:545px;
	left:270px;	
	font-size: 20px;
}

.fif
{
	position: absolute;
	top:339px;
	left:10px;	
}

.see
{
	
	
}
.tant
{
	position: absolute;
	top:230px;
	left:730px;
	font-size: 20px;
}
.tunt
{
	position: absolute;
	top:270px;
	left:720px;
}

.lllll
{
	position: absolute;
	top:90px;
	left:200px;
	font-size: 20px;
	color:blue;
}

.mmmm
{

	position: absolute;
	top:150px;
	left:200px;
}

.wwwww
{
	position: absolute;
	top:100px;
	left:340px;
	font-size: 20px;
	color:blue;
}

.xxxxx
{

	position: absolute;
	top:150px;
	left:330px;
}

.z6
{
	position: absolute;
	top:100px;
	left:530px;
	font-size: 20px;
	color:blue;
}

.x6
{

	position: absolute;
	top:150px;
	left:530px;
}

.z7
{
	position: absolute;
	top:100px;
	left:570px;
	font-size: 20px;
}

.x7
{

	position: absolute;
	top:150px;
	left:560px;
}

.z8
{
	position: absolute;
	top:100px;
	left:780px;
	font-size: 20px;
	color:blue;
}

.x8
{

	position: absolute;
	top:150px;
	left:780px;
}

.z9
{
	position: absolute;
	top:100px;
	left:1020px;
	font-size: 20px;
	color:blue;
}

.x9
{

	position: absolute;
	top:150px;
	left:1020px;
}





.fuckitt
{
	text-align: justify;
	width: 150px;
	height: 60px;
	border: 1px solid black;
	margin-top: -100px;
	margin-left: 800px;
}

.fuckc
{
	text-align: justify;
	width: 150px;
	height: 60px;
	border: 1px solid black;
	margin-top: -80px;
	margin-left: 670px;
}
.fuckd
{
	text-align: justify;
	width: 170px;
	height: 80px;
	border: 1px solid black;
	margin-top: 115px;
}


.sun
{
	position: absolute;
	top:230px;
	left:850px;
	font-size: 20px;
	color:blue;
}

.sunt
{
	position: absolute;
	top:270px;
	left:840px;
}

.ass
{
	position: absolute;
	top:230px;
	left:960px;
	font-size: 20px;
	color:blue;
}

.assi
{
	position: absolute;
	top:270px;
	left:950px;
}

.wa
{
	position: absolute;
	top: 260px;
	left:500px;
	font-size: 20px;
}
.center
{
	position: absolute;
	top:800px;
	left:1000px;
}

.uii
{
	position: absolute;
	top:260px;
	left:230px;
	font-size: 20px;
}

.uu
{
	position: absolute;
	top:350px;
	left:0px;
}

.v1
{
	position: absolute;
	top:600px;
}

.w1
{
	position: absolute;
	top:320px;
	left:700px;
	font-size: 20px;
	color: red;
}

.w2
{
	position: absolute;
	top:390px;
	left:730px;
}

.fuck1
{
	text-align: justify;
	width: 150px;
	height: 80px;
	border: 1px solid black;
	margin-top: -0px;
	margin-left: 0px;
}

.yoshi
{
	position: absolute;
	top:80px;
	left:300px;
	font-size:20px;
}

.yoshiss
{
	position: absolute;
	top:180px;
	left:370px;
}

.yoshis
{
	text-align: justify;
	width: 250px;
	height: 60px;
	border: 1px solid black;
	margin-top: -30px;
	margin-left: 310px;
}

.yoshe
{
	position: absolute;
	top:80px;
	left:700px;
	font-size:20px;
}

.yoshet
{
	position: absolute;
	top:150px;
	left:700px;
}

.yoshiets
{
	text-align: justify;
	width: 200px;
	height: 40px;
	border: 1px solid black;
	margin-top: -170px;
	margin-left: 660px;
}

.fuck2
{
	text-align: justify;
	width: 200px;
	height: 80px;
	border: 1px solid black;
	margin-top: -80px;
	margin-left: 880px;
}

.ji
{
	position: absolute;
	top:80px;
	left:900px;
	font-size:20px;
}

.jis
{
	position: absolute;
	top:190px;
	left:900px;
}

.zau
{
	position: absolute;
	top:310px;
	left:1000px;
	font-size:20px;
}

.zu
{
	position: absolute;
	top:370px;
	left:895px;
}

.clean
{
	text-align: justify;
	width: 150px;
	height: 80px;
	border: 1px solid black;
	margin-top: -160px;
	margin-left: 920px;
}
.weret
{
		color:blue;
}
.ha 
{
	position: absolute;
	top:105px;
	left:200px;
	font-size:20px;
	color:blue;
}

.suite
{
	position: absolute;
	top:430px;
	left:225px;	
}

.have
{
	position: absolute;
	top:145px;
	left:180px;
}

.base
{
	position: absolute;
	top:105px;
	left:400px;
	font-size:20px;
	color:blue;
}

.bases
{
	position: absolute;
	top:145px;
	left:380px;
}

.tech
{
	position: absolute;
	top:105px;
	left:600px;
	font-size:20px;
	color:blue;
}

.techo
{
	position: absolute;
	top:145px;
	left:590px;
}

.teci
{
	position: absolute;
	top:105px;
	left:800px;
	font-size:20px;
	color:blue;
}

.tecis
{
	position: absolute;
	top:145px;
	left:790px;
}

.techa
{
	position: absolute;
	top:105px;
	left:1000px;
	font-size:20px;
	color:blue;
}

.techas
{
	position: absolute;
	top:145px;
	left:990px;
}

.wass
{
	position: absolute;
	top:315px;
	left:500px;
	font-size:20px;
}

.ask 
{
	text-align: justify;
	width: 200px;
	height: 55px;
	border: 1px solid black;
	margin-top: -50px;
}

.kio
{
	position: absolute;
	top:700px;
	left:900px;
	
}
.p0
{
	position: absolute;
	top:470px;
	left:700px;
	font-size:20px;
}

.p2
{
	position: absolute;
	top:540px;
	left:690px;
}

.p1
{
	text-align: justify;
	width: 200px;
	height: 55px;
	border: 1px solid black;
	margin-top: -75px;
	margin-left: 680px;
}
.sansati
{
		color:blue;
}
.ici
{
	position: absolute;
	top:102px;
	left:200px;
	font-size:20px;
	color:blue;
}

.issa
{
	position: absolute;
	top:140px;
	left:190px;
}

.kak
{
	position: absolute;
	top:102px;
	left:390px;
	font-size:20px;
	color:blue;
}

.kaka
{
	position: absolute;
	top:150px;
	left:390px;
}


.hib
{
	position: absolute;
	top:102px;
	left:600px;
	font-size:20px;
	color:blue;
}

.hab
{
	position: absolute;
	top:140px;
	left:590px;
}

.fifou
{
	position: absolute;
	top:102px;
	left:800px;
	font-size:20px;
	color:blue;
}

.all
{
	position: absolute;
	top:140px;
	left:790px;
}

.ab1
{
	position: absolute;
	top:102px;
	left:1000px;
	font-size:20px;
	color:blue;
}

.ab2
{
	position: absolute;
	top:140px;
	left:990px;
}

.jacko
{
	text-align: justify;
	width: 200px;
	height: 55px;
	border: 1px solid black;
	margin-top: 240px;
	margin-left: 360px;
}

.are
{
	position: absolute;
	top:402px;
	left:700px;
	font-size:20px;
}

.aren
{
	position: absolute;
	top:470px;
	left:700px;
}

.anus
{
	text-align: justify;
	width: 150px;
	height: 75px;
	border: 1px solid black;
	margin-top: 220px;
	margin-left: 720px;
}

.asu
{
	position: absolute;
	top:402px;
	left:400px;
	font-size:20px;
}

.asus
{
	position: absolute;
	top:450px;
	left:400px;
}
.fr00
{
		color:blue;
}
.fr1
{
	position: absolute;
	top:102px;
	left:300px;
	font-size:20px;
	color:blue;
}

.fr2
{
	position: absolute;
	top:150px;
	left:300px;
}

.d1
{
	position: absolute;
	top:87px;
	left:500px;
	font-size:20px;
	color:blue;
}

.evea
{
	color:blue;
}
.d2
{
	position: absolute;
	top:150px;
	left:500px;
}

.fr3
{
	position: absolute;
	top:102px;
	left:700px;
	font-size:20px;
	color:blue;
}

.fr4
{
	position: absolute;
	top:150px;
	left:700px;
}

.I1
{
	position: absolute;
	top:102px;
	left:900px;
	font-size:20px;
	color:blue;
}

.I2
{
	position: absolute;
	top:150px;
	left:900px;
}

.V5
{
	position: absolute;
	top:102px;
	left:1100px;
	font-size:20px;
	color:blue;
}

.V6
{
	position: absolute;
	top:150px;
	left:1100px;
}

.bulbizarre
{
	position: absolute;
	top:362px;
	left:500px;
	font-size:20px;
	color:red;
}

.herbizarre
{
	position: absolute;
	top:402px;
	left:500px;
	font-size:20px;
}


.q9
{
	text-align: justify;
	width: 150px;
	height: 75px;
	border: 1px solid black;
}

.fine
{
	position: absolute;
	top:92px;
	left:300px;
	font-size:20px;
}

.q10
{
	position: absolute;
	top:190px;
	left:300px;
}

.q11
{
	text-align: justify;
	width: 150px;
	height: 55px;
	border: 1px solid black;
	margin-top: -80px;
	margin-left: 310px;
}

.jaco
{
	position: absolute;
	top:92px;
	left:540px;
	font-size:20px;
}

.jacok
{
	position: absolute;
	top:140px;
	left:520px;
}

.jacose
{
	text-align: justify;
	width: 150px;
	height: 55px;
	border: 1px solid black;
	margin-top: -140px;
	margin-left: 510px;
}

.baco
{
	position: absolute;
	top:92px;
	left:740px;
	font-size:20px;
	color:green;
}

.bacon
{
	position: absolute;
	top:140px;
	left:740px;
}

.bacone
{
	text-align: justify;
	width: 150px;
	height: 55px;
	border: 1px solid black;
	margin-top: -120px;
	margin-left: 710px;
}

.hot
{
	position: absolute;
	top:92px;
	left:1000px;
	font-size:20px;
}
.hota
{
	position: absolute;
	top:140px;
	left:940px;
}

.hotas
{
	text-align: justify;
	width: 180px;
	height: 60px;
	border: 1px solid black;
	margin-top: -90px;
	margin-left: 940px;
}

.sauna
{
	text-align: justify;
	width: 180px;
	height: 60px;
	border: 1px solid black;
}

.flat
{
	position: absolute;
	top:372px;
	left:300px;
	font-size: 20px;
}

.flate
{
	position: absolute;
	top:430px;
	left:300px;
}

.flater
{
	text-align: justify;
	width: 180px;
	height: 60px;
	border: 1px solid black;
	margin-top: -60px;
	margin-left: 300px;
}

.social
{
	position: absolute;
	top:362px;
	left:540px;
	font-size: 20px;
}

.sociale
{
	position: absolute;
	top:410px;
	left:530px;
}

.sociaux
{
	text-align: justify;
	width: 120px;
	height: 60px;
	border: 1px solid black;
	margin-top: -80px;
	margin-left: 530px;
}

.train
{
	position: absolute;
	top:352px;
	left:790px;
	font-size: 20px;
}

.traine
{
	position: absolute;
	top:410px;
	left:720px;
}

.trainer
{
	text-align: justify;
	width: 120px;
	height: 75px;
	border: 1px solid black;
	margin-top: -115px;
	margin-left: 730px;
}


.rib
{
	position: absolute;
	top:362px;
	left:990px;
	font-size: 20px;
	color: green;
}

.ribe
{
	position: absolute;
	top:410px;
	left:950px;
}

.riber
{
	text-align: justify;
	width: 140px;
	height: 75px;
	border: 1px solid black;
	margin-top: -145px;
	margin-left: 980px;
}

.sia
{
	position: absolute;
	top:652px;
	left:390px;
	font-size: 20px;
	color:green;
}

.cya
{
	position: absolute;
	top:710px;
	left:350px;
}


.fle
{
	position: absolute;
	top:730px;
	left:550px;
}

.point
{
	position: absolute;
	top:88px;
	left:350px;
	font-size: 20px;
	color:green;
}

.pointer
{
	position: absolute;
	top:140px;
	left:340px;
}

.pointe
{
	position: absolute;
	top:88px;
	left:550px;
	font-size: 20px;
	color:green;
}

.pointo
{
	color:green;	
}
.pointar
{
	position: absolute;
	top:140px;
	left:540px;
}



.aa1
{
	text-align: justify;
	width: 130px;
	height: 85px;
	border: 1px solid black;
	margin-top: 0px;
	margin-left: 0px;
}

.qaq
{
	position: absolute;
	top:90px;
	left:230px;
	font-size: 20px;
	color:green;
}

.qaqu
{
	position: absolute;
	top:140px;
	left:230px;
}

.qaqut
{
	text-align: justify;
	width: 130px;
	height: 85px;
	border: 1px solid black;
	margin-top: -120px;
	margin-left: 230px;
}

.pic
{
	position: absolute;
	top:90px;
	left:430px;
	font-size: 20px;
}

.pics
{
	position: absolute;
	top:140px;
	left:420px;
}

.picss
{
	text-align: justify;
	width: 100px;
	height: 60px;
	border: 1px solid black;
	margin-top: -100px;
	margin-left: 410px;
}

.sau
{
	position: absolute;
	top:90px;
	left:630px;
	font-size: 20px;
}

.saucer
{
	position: absolute;
	top:140px;
	left:570px;
}


.va
{
	position: absolute;
	top:90px;
	left:930px;
	font-size: 20px;
}

.vase
{
	position: absolute;
	top:200px;
	left:920px;
}

.vases
{
	text-align: justify;
	width: 190px;
	height: 60px;
	border: 1px solid black;
	margin-top: -80px;
	margin-left: 920px;
}

.man
{
	position: absolute;
	top:400px;
	left:500px;
	font-size: 20px;
}

.mane
{
	position: absolute;
	top:500px;
	left:500px;
}

.manes
{
	text-align: justify;
	width: 190px;
	height: 40px;
	border: 1px solid black;
	margin-top: 160px;
	margin-left: 500px;
}

.gato
{
	position: absolute;
	top:550px;
	left:10px;
}

.snake
{
	position: absolute;
	top:90px;
	left:350px;
	font-size: 20px;
}

.snakes
{
	position: absolute;
	top:250px;
	left:350px;
}

.pie
{
	position: absolute;
	top:90px;
	left:700px;
	font-size: 20px;
}

.pies
{
	position: absolute;
	top:220px;
	left:700px;
}

.piese
{
	text-align: justify;
	width: 190px;
	height: 60px;
	border: 1px solid black;
	margin-top: 50px;
	margin-left: 690px;
}

.the
{
	position: absolute;
	top:90px;
	left:1100px;
	font-size: 20px;
}

.thef
{
	position: absolute;
	top:220px;
	left:1100px;
}

.lashes
{
	text-align: justify;
	width: 190px;
	height: 75px;
	border: 1px solid black;
	margin-top: 150px;
	margin-left: 450px;
}

.lash
{
	position: absolute;
	top:380px;
	left:500px;
	font-size: 20px;
}

.lashe
{
	position: absolute;
	top:430px;
	left:480px;
}

.flies
{
	position: absolute;
	top:460px;
	left:10px;
}

.bb1
{
	text-align: justify;
	width: 190px;
	height: 40px;
	border: 1px solid black;
	margin-top: 0px;
	margin-left: 0px;
}

.bb3
{
	position: absolute;
	top:90px;
	left:450px;
	font-size: 20px;
}

.bb4
{
	position: absolute;
	top:160px;
	left:440px;
}

.bb2
{
	text-align: justify;
	width: 220px;
	height: 60px;
	border: 1px solid black;
	margin-top: -20px;
	margin-left: 420px;
}

.apa
{
	position: absolute;
	top:103px;
	left:200px;
	font-size: 20px;
	color:blue;
}
.apart
{
		color:blue;
}
.apas
{
	position: absolute;
	top:140px;
	left:190px;
}

.faf
{
	position: absolute;
	top:103px;
	left:400px;
	font-size: 20px;
	color:blue;
}

.fafi
{
	position: absolute;
	top:150px;
	left:400px;
}

.daffy
{
	position: absolute;
	top:103px;
	left:600px;
	font-size: 20px;
	color:blue;
}

.daffi
{
	position: absolute;
	top:140px;
	left:600px;
}

.fasy
{
	position: absolute;
	top:103px;
	left:800px;
	font-size: 20px;
	color:blue;
}

.fasi
{
	position: absolute;
	top:140px;
	left:800px;
}

.gasy
{
	position: absolute;
	top:103px;
	left:1000px;
	font-size: 20px;
	color:blue;
}

.gasi
{
	position: absolute;
	top:140px;
	left:1000px;
}

.fuckit
{
	text-align: justify;
	width: 200px;
	height: 55px;
	border: 1px solid black;
	margin-top: 0px;
	margin-left: 0px;
}

.ail
{
	position: absolute;
	top:398px;
	left:600px;
	font-size: 20px;
	color:red;
}

.aile
{
	position: absolute;
	top:445px;
	left:600px;
}

.ailes
{
	text-align: justify;
	width: 200px;
	height: 35px;
	border: 1px solid black;
	margin-top: 55px;
	margin-left: 580px;
}

.bilou
{
	position: absolute;
	top:398px;
	left:800px;
	font-size: 20px;
}

.bilous
{
	position: absolute;
	top:490px;
	left:800px;
}

.bilousse
{
	position: absolute;
	top:398px;
	left:1080px;
	font-size: 20px;
	color:red;
}

.bilousses
{
	position: absolute;
	top:470px;
	left:1050px;
}

.fiou
{
	position: absolute;
	top:358px;
	left:370px;
	font-size: 20px;
}

.fious
{
	position: absolute;
	top:430px;
	left:380px;
}

.fiousse
{
	position: absolute;
	top:558px;
	left:370px;
	font-size: 20px;
}

.fiousses
{
	position: absolute;
	top:610px;
	left:360px;
}

.fioussesse
{
	text-align: justify;
	width: 200px;
	height: 55px;
	border: 1px solid black;
	margin-top: 30px;
	margin-left: 350px;
}

.tests
{
	position: absolute;
	top:710px;
	left:10px;
}

.up00
{
	color:blue;
}
.up1
{
	position: absolute;
	top:103px;
	left:200px;
	font-size: 20px;
	color:blue;
}

.up2
{
	position: absolute;
	top:140px;
	left:190px;
}

.up3
{
	position: absolute;
	top:88px;
	left:400px;
	font-size: 20px;
	color:blue;
}

.up4
{
	position: absolute;
	top:150px;
	left:400px;
}

.up5
{
	position: absolute;
	top:103px;
	left:600px;
	font-size: 20px;
	color:blue;
}

.up6
{
	position: absolute;
	top:150px;
	left:600px;
}

.up7
{
	position: absolute;
	top:103px;
	left:800px;
	font-size: 20px;
	color:blue;
}

.up8
{
	position: absolute;
	top:150px;
	left:800px;
}

.up9
{
	position: absolute;
	top:103px;
	left:1000px;
	font-size: 20px;
	color:blue;
}

.up10
{
	position: absolute;
	top:150px;
	left:1000px;
}

.pokers
{
	position: absolute;
	top:303px;
	font-size: 20px;
}

.pokerss
{
	position: absolute;
	top:330px;
}

.fuckp
{
	text-align: justify;
	width: 170px;
	height: 20px;
	border: 1px solid black;
	margin-top: 120px;
	margin-left: 80px;
}

.santa
{
	position: absolute;
	top:303px;
	left:470px;
	font-size: 20px;
}

.santas
{
	position: absolute;
	top:400px;
	left:470px;
}

.santass
{
	text-align: justify;
	width: 170px;
	height: 95px;
	border: 1px solid black;
	margin-top: 10px;
	margin-left: 470px;
}

.kok
{
	position: absolute;
	top:303px;
	left:770px;
	font-size: 20px;
}

.koka
{
	position: absolute;
	top:440px;
	left:710px;
}

.kokas
{
	position: absolute;
	top:303px;
	left:970px;
	font-size: 20px;
}

.kokass
{
	position: absolute;
	top:430px;
	left:960px;
}

.kikous
{
	position: absolute;
	top:503px;
	left:10px;
	font-size: 20px;
}

.kikouss
{
	position: absolute;
	top:533px;
	left:10px;
}

.kikousse
{
	text-align: justify;
	width: 170px;
	height: 65px;
	border: 1px solid black;
	margin-top: 130px;
	margin-left: 10px;
}

.kh1
{
	position: absolute;
	top:383px;
	left:500px;
	font-size: 20px;
}

.kh2
{
	position: absolute;
	top:473px;
	left:400px;
}

.kh3
{
	text-align: justify;
	width: 250px;
	height: 58px;
	border: 1px solid black;
	margin-top: -200px;
	margin-left: 440px;
}

.kh4
{
	position: absolute;
	top:738px;
	left:10px;
}

.fush1
{
	position: absolute;
	top:548px;
	left:880px;
	font-size: 20px;
}

.fush2
{
	position: absolute;
	top:643px;
	left:1000px;
}

.sco
{
	position: absolute;
	top:538px;
	left:210px;
	color:blue;
}

.scos
{
	position: absolute;
	top:578px;
	left:210px;
}

.fiches
{
	position: absolute;
	top:58px;
	left:500px;
}

.pf
{
	position: fixed;
	bottom:0;
	right:0;
}

.microso
{
		color:red;
}

.claze
{
		color:red;
}

.vert
{
		color:green;
}


.choux
{
		color:blue;
		position: absolute;
		top:538px;
		left:10px;	
}

.choso
{
		position: absolute;
		top:578px;
		left:10px;	
}

.chocolat
{
	color:orange;
	position: absolute;
	top:450px;
}